/*.............................................................................................................................
# variables
..............................................................................*/
:root {
    /*Fonts */
    --font-default: 'EB Garamond', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neve', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-primary: 'EB Garamond', serif; /*'Playfair Display', serif:*/
    --font-secondary: 'Inter', sans-serif;
    
    
    /* Colors */
    /* The *-rgb color names are simply the RGB converted value of the corresponding color for use in the app*/

    /* Default text color */
    --color-default: #212529;
    --color-links-hover: #15171a;

    /* Primary colors */
    --color-primary: #212529;
    --color-primary-light: #26282c;
    --color-primary-dark: #aabbcc;

    --color-primary-rgb: 33, 37, 41;
    --color-primary-light-rgb: 38, 40, 44;
    --color-primary-dark-rgb: 11, 12, 14;

     /* Second colors */
     --color-secondary: #596d80;
     --color-secondary-light: #8498aa;
     --color-secondary-dark: #404f5c;
 
     --color-secondary-rgb: 89, 109, 128;
     --color-secondary-light-rgb: 132, 152, 170;
     --color-secondary-dark-rgb: 64, 79, 92;

    /* General colors */ 
    --color-blue: #0d6cfd;
    --color-blue-rgb: 13, 110, 253;

    --color-indigo: #6610f2;
    --color-indigo-rgb: 102, 16, 242;

    --color-purple: #6f42c1;
    --color-purple-rgb: 111, 66, 193;

    --color-pink: #f3268c;
    --color-pink-rgb: 243, 38, 140;

    --color-red: #df1529;
    --color-red-rgb: 223, 21, 4;

    --color-orange: #fd7e14;
    --color-orange-rgb: 253, 126, 20;

    --color-yellow: #ffc107;
    --color-yellow-rgb: 255, 193, 7;

    --color-green: #059652;
    --color-green-rgb: 5, 150, 82;

    --color-teal: #20c997;
    --color-teal-rgb: 32, 201, 151;

    --color-cyan: #0dcaf0;
    --color-cyan-rgb: 13, 202, 240;

    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;

    --color-gray: #6c757d;
    --color-gray-rgb: 108, 117, 125;

    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;

}